*{
	font-family: sans-serif;
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
a:link, a:visited{
	color:white;
}
nav div{
	background: #E63E55;
	width:100px;
	padding: 20px;
	text-align: center;
	position: relative;z-index: 10;
}
nav div:hover{
	background: #C41C33;
}
nav{
	display:flex;
	justify-content: space-between;
	position: fixed;
	width:100vw;
}
#mi-foto{
	height:70vh;
	margin:10px;
}
h1{
	text-align: center;
	margin-top:2%;
}
main{
	display:flex;
	margin-top:2%;
	margin-right: 10vw;
}
body{
	background: #b5f0ff;
}
footer{
	background: #000;
	color: #fff;
	position:relative;
	bottom: 0vh;
}
.flex-container{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
.title{
	width:66vw;
	margin:auto;
}
@media only screen and (max-width:800px){
	main{
		flex-direction: column;
		margin-right: 0;
	}
	main p{
		margin:10px;
	}
	#mi-foto{
		max-width:70vw;
		margin-left:auto;
		margin-right: auto;
	}
}
.redes img{
	width:20px;
}
@media only	screen and (max-width: 500px){
	#mi-foto{
		width:100vw;
		max-width: 100vw;
	}
	.flex-container{
		height:200px;
	}
	.title{
		position: relative;
		bottom:0;
		z-index:-1;
	}
}