*{
	font-family: sans-serif;
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
a:link, a:visited{
	color:white;
}
nav div{
	background: #E63E55;
	width:100px;
	padding: 20px;
	text-align: center;
	
}
nav div:hover{
	background: #C41C33;
}
nav{
	display:flex;
	justify-content: space-between;
	position: fixed;
	width:100vw;
}
img{
	height:70vh;
	margin:10px;
}
h1{
	text-align: center;
	margin-top:2%;
}
main{
	display:flex;
	margin-top:5%;
	margin-right: 10vw;
}
body{
	background: #b5f0ff;
}